* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
  }
  *::before{
    box-sizing: border-box;
  }
 *::after {
    box-sizing: border-box;
  }
  body{
      display: flex;
      flex-direction: column;
      height: 100vh;
  }
  .preview-wrapper{
      flex:1;
      height: 50vh;
     
  }
  .code-wrapper{
      flex: 1;
      height: 50vh;
      padding: 10px;
      background: #ddd;
  }
  #code{
      overflow: auto;
      /*注意Firefox中需要填写*/
      height: 50vh;
  }
  .actions{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 10px;
      right:10px;
  }
  .actions>div{
      margin: 5px 0;
  }
  .key{
      cursor: pointer;
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #666666 0%,#100000 100%);
    border: none;
    color: #C5C5C5;
    border: 1px solid #373737;
    border-radius: 8px;
    /*box-shadow四个值分别是水平、垂直、模糊度、扩展面积、颜色*/
    box-shadow: 0 0 0 1px #1A1B1C,0 0 0 2px #1F2020, 2px 2px 0 2px #080808; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    position: relative;
}
.key.active{
    color: #fee433;
}

  /* .preview {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fee433;
  }
  #face {
    width: 100%;
    height: 165px;
    position: relative;
  }
  #face > :not(:last-child){
    z-index: 1;
}
  .nose {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px;
    border-radius: 11px;
    border-color: black transparent transparent;
    top: 28px;
    left: 50%;
    margin-left:-12px;
  }
  .eye {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #2e2e2e;
    position: absolute;
    border: 2px solid #000000,
  }
  .eye.left {
    right: 50%;
    margin-right: 90px;
  }
  .eye.right {
    left: 50%;
    margin-left: 90px;
  }
  .eye::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: 7px;
    border: 2px solid #000;
    top: 4px;
  }
  .redFace {
    width: 68px;
    height: 68px;
    border: 2px solid black;
    background: #fc0d1c;
    border-radius: 50%;
    position: absolute;
  }
  .redFace.left {
    right: 50%;
    top: 85px;
    margin-right: 116px;
  }
  .redFace.right {
    left: 50%;
    top: 85px;
    margin-left: 116px;
  }
 .upperLip{
    position:absolute;
   width:80px;
   height:20px;
   border:3px solid black;
   background:#fee433;
 }
 .leftUpperLip{
   border-bottom-left-radius:40px 20px;
   border-top:none;
   border-right:none;
   transform:rotate(-20deg);
   right:50%;
   top:52px;
 }
 .rightUpperLip{
   border:3px solid black;
   border-bottom-right-radius:40px 20px;
   border-top:none;
   border-left:none;
   transform:rotate(20deg);
   left:50%;
   top:52px;
 }

 .lowerLip-wrapper{
   left:50%;
   margin-left:-150px;
   position:absolute;
   height:107px;
   bottom:0px;
   width:300px;
   overflow:hidden;
 }
 .lowerLip{
   width:300px;
   height:3000px;
   background:#990513;
   border-radius:200px/2000px;
   position: absolute;
   bottom:0px;
   border:2px solid #000;
   overflow:hidden;
 }
 .lowerLip::after{
   content:'';
   position:absolute;
   bottom:-20px;
   width:100px;
   height:100px;
   background:#FC4A62;
   left:50%;
   margin-left:-50px;
   border-radius:200px/150px;
  
 }
   */